html {
    background: rgb(62, 145, 227) url(https://i.fbcd.co/products/original/085e4018fb045310db4565bb5e6c9b281e2704a0625072fb77f5c7cc489f0e13.jpg);
    background-size: cover;
    font-family: helvetica;
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1),
                inset 0 0 0 3px #EFEFEF,
                inset 0 0 0 10px black,
                0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
}